@charset "UTF-8";


body{
	display:Flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height:max-content !important;
}

body div{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#info-container{
	background-color: #ecffb9;
	padding:16px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}